{% load static %}
<footer class="footer">
  
    <!-- Social Links -->
    <div class="footer-section">
      <h4>Find us on</h4>
      <div class="social-icons">
        <a href="#"><img src="{% static 'icons/linkedin.png' %}" alt="LinkedIn"></a>
        <a href="#"><img src="{% static 'icons/instagram.png' %}" alt="Instagram"></a>
        <a href="#"><img src="{% static 'icons/facebook.png' %}" alt="Facebook"></a>
        <a href="#"><img src="{% static 'icons/X.png' %}" alt="Twitter"></a>
      </div>
    </div>

    <!-- Pricing / Contact -->
    <div class="footer-section">
      <h4>Pricing</h4>
      <p>Write to us: <a href="mailto:abc123@gmail.com">abc123@gmail.com</a></p>
    </div>

    <!-- Payment Methods -->
    <div class="footer-section">
      <h4>We accept payment via</h4>
      <div class="payment-icons">
        <img src="{% static 'icons/binance.png' %}" alt="Binance">
        <img src="{% static 'icons/western-union.png' %}" alt="MasterCard">
        <img src="{% static 'icons/klarna.png' %}" alt="Klarna">
      </div>
    </div>
  
</footer>
